body {
    background-color: rgba(245, 222, 179, 0.5);
}

h1 {
    color: red;
    font-size: 40px;
    /* font-family: arial; */
}

/* a {
    text-decoration: none;
    color: black;
}
 */


/* header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header nav ul li{
    margin: 0 10px;
} */

