<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todo">Todo</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>